.home-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .home-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .home-button {
    padding: 10px 20px;
    background-color: #3A5AFE;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .home-button:hover {
    background-color: #0056b3;
  }
  