.home-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .home-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .home-button {
    padding: 10px 20px;
    background-color: #3A5AFE;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .home-button:hover {
    background-color: #0056b3;
  }
  




  /*서비스 제목*/

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
}

.styled-link {
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
    color: #4679b0;
    transition: color 0.3s ease;
}

.styled-link:hover {
    color: #41556b;
}
